<div class="navbar navbar-expand-sm navbar-dark font-header fixed-top" style="background-color: pink">
    <a class="navbar-brand" target="_blank" href="/">
        <img class="imageLogo" src="assets/images/strawberry.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item"></li>
                    <a class="nav-link" target="_blank" href="https://www.facebook.com/anhtruc.99">
                        <div style="color: black" class="phanchia">Bé Trúc</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <div>
            <ul class="navbar-nav">
                <li><a style="color: black" id="alogin" href="/logout">Cúc</a></li>
            </ul>
        </div>
    </div>
</div>