<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <%include ../partials/head%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <button id='getData'>Get</button>
    <script src="socket.io/socket.io.js"></script>
    <script src="assets/jsClient/getData.js"></script>
</body>

</html>