<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <%include ../partials/head%>
</head>

<body>
    <header>
        <%include ../partials/header%>
    </header>

    <main>
        <div class="tab-content" style="margin-top:108px;">
            <div id="Home" class=" container-fluid tab-pane active">
                <h3>HOME</h3>
            </div>
        </div>

    </main>
</body>

</html>