<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <%include ../partials/head%>
</head>

<body>
    <header>
        <%include ../partials/headerFake%>
    </header>

    <main>
        <div class="tab-content" style="margin-top:108px;">
            <div id="Home" class=" container-fluid tab-pane active">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.</p>
            </div>
        </div>

    </main>
</body>

</html>